@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
	margin: 0 auto;
	padding: 0;
	box-sizing:	border-box;
	font-family: 'Inconsolata', monospace;
}

html {
	overflow-y: scroll;
}
  
body{
	background-image: url("../img/background-img.jpg");
	background-attachment: fixed;
	
	
}

h1{
	padding: 20px;
	text-align: center;
}

h2{
	padding-left: 60px;
}

p{
	font-size: 20px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 15px;
	padding-bottom: 20px;
}

li{
	padding-left: 20;
}

.container{
	width: 1700px;;
	margin-right: auto;  
	margin-left: auto;
	/*<img src="https://s.aficionados.com.br/imagens/stardew9-0.jpg">*/
	display: flex;  
	flex-wrap: wrap;
	/*quebra linha*/

}

#imag{
	display: flex;
	display: -webkit-flex;
	justify-content: center;
	size: 500px;
	align-items: center;
}

#main-logo{
	padding-bottom: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	transition: background.30s;
}

#menu-h{
	font-weight: bold;
	background-color: #E0A100;
	
}

#menu-h ul{
	font-size:23px;
	max-width: 1300px;
	list-style: none;
	padding: 0;
	
}

#menu-h ul li{
	display: inline;
	
}

#menu-h ul li a{
	color: rgb(255, 255, 255);
	padding: 10px ;
	display: inline-block;
	text-decoration: none;
	transition: background.30s;
	border-radius: 50;
}

#menu-h ul li a:hover{
	background-color: #eeb82f;
}

#menu-h ul li:last-child a{
	align-items: right;
	background-color:#E0A100;

}

.li{
	align-items: right;
}

.corpo{
	background:#d4e5f5;
	opacity:0.9;
	font-size: 50;
}

.rodape {  
	color: rgb(255, 255, 255);
	font-weight: bold;
	align-items: center;
	order: 4;  
	padding: 50px 25px 50px;
	width: 100%;  
	display: flex;  
	background-color: #E0A100;
}

#imagem-de-fundo{
	opacity: 50%;
	width: 1832	px;
}