*{
	box-sizing:	border-box;
}

li:hover{
	color: white;
	background-color:green;
}

.cabecalho img{
	width: 70px;
	height: auto;
}

.container { 
	width: 720px;
	margin-right: auto;  
	margin-left: auto;
	/* margin: 0 auto; */
	display: flex;  flex-wrap: wrap;
	/*quebra linha*/
}

.cabecalho {  
	order: 1;
	border-bottom: 1px solid #000000;  
	padding: 10px;
	margin-bottom: 20px;
	background-color:green;
	width: 100%;  
	display: flex;  
}

.menu {  
	width: 25%; 
	order: 2;  
	padding: 5px;  
	font-size: 110%;
    background-color: lightgreen;
}

.corpo {  
	width: 75%;
	order: 3;
	border-right: 1px dashed #000000;  
	padding: 10px;
}

.rodape {  
	order: 4;
	border-top: 1px solid #000000;  
	padding: 30px;
	margin-top: 20px;
	width: 100%;  
	display: flex;  
}


