@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

*{
	margin: 0 auto;
	padding: 0;
	box-sizing:	border-box;
	font-family: 'Inconsolata', monospace;
}

#menu-h{
	font-weight: bold;
	background-color: rgb(49, 82, 63);
}

#menu-h ul{
	max-width: 1300px;
	list-style: none;
	padding: 0;
	
}

#menu-h ul li{
	display: inline;
	
}

#menu-h ul li a{
	color: rgb(255, 255, 255);
	padding: 20px ;
	display: inline-block;
	text-decoration: none;
	transition: background.30s;
	
}

#menu-h ul li a:hover{
	background-color: rgb(77, 133, 100);
	
}

#menu-h ul li:last-child a{
	align-items: right;
	background-color:rgb(49, 82, 63);

}
.rodape {  
	align-items: center;
	order: 4;  
	padding: 50px 25px 50px;
	width: 100%;  
	display: flex;  
	background-color: rgb(49, 82, 63);
	opacity: 100%;
}

#imagem-de-fundo{
	opacity: 50%;
	width: 1832	px;
}